.content{
    border: 1px solid gray;
}
.hl{
    border: 2px solid gray;
    width: 100%;
    height: auto;
    padding: 4px;
    table-layout: fixed;
    margin-top: 30px;
    background-color: white;
}
th,td{
    border: 2px solid gray;
    width: 100%;
    padding: 20px;
}
.hd{
    box-shadow: 0px 2px 12px black;
    height: 20vh;
    text-align: center;
}
.hm{
    height: 10vh;
    margin: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hb{
    padding: auto;
}
.h{
    text-align: center;
}